.nav_bar{
  width: 100%;
  text-align: center;
  border: 1px solid black;
  background-color: silver;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  display: block;

}

a:hover{
      background-color: black;
}

.contact{
  border: 1px solid navy;
}

.cont_table, .order_table{
  font-weight: 600;
}
input::selection, textarea::selection{
  color: red;
}

#message{
  border: 1px solid green;
}

input[type="reset"]:hover{
  color: red;
}

input[type="submit"]:hover{
  color: green;
}
